<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bizpulse.retail" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BizPulse</name>
    <description>Complete Retail Management ERP System</description>
    <author email="osmanalisyed@bizpulse.co.in" href="https://bizpulse.co.in">Osman Ali Syed</author>
    <content src="mobile_app.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="static/icon-192.png" />
        <icon density="mdpi" src="static/icon-192.png" />
        <icon density="hdpi" src="static/icon-192.png" />
        <icon density="xhdpi" src="static/icon-192.png" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="BackupWebStorage" value="none" />
</widget>