<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bizpulse.erp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>BizPulse ERP</name>
    <description>Complete Business Management System</description>
    <author email="support@bizpulse.com">BizPulse Team</author>
    
    <content src="index.html" />
    <access origin="*" />
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="21" />
    <preference name="android-targetSdkVersion" value="33" />
    <preference name="BackupWebStorage" value="none" />
    
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>